html {
  font-size: 62.5%;
}
html {
  font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
html body {
  background-color: rgba(166, 168, 179, 0.12);
}
.calendar {
  width: 100%;
}
.calendar .cal_btn {
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  padding: 20px 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.calendar .cal_btn div {
  margin: 0 10px;
}
.calendar .cal_btn .last_month_btn, .calendar .cal_btn .next_month_btn {
  width: 40px;
  margin-top: 10px;
  background-color: #51565e;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.calendar .cal_btn .last_month_btn a, .calendar .cal_btn .next_month_btn a {
  width: 100%;
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
}
.calendar .cal_btn .last_month_btn a p, .calendar .cal_btn .next_month_btn a p {
  margin: 0;
  padding: 2px;
}
.calendar .cal_btn .this_month p {
  color: #51565e;
  font-size: 2.4rem;
  margin: 0;
}
.calendar .cal_main table {
  table-layout: fixed;
  width: 100%;
  background-color: #fff;
}
.calendar .cal_main table th, .calendar .cal_main table td {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.calendar .cal_main table th {
  color: #99a1a7;
  text-align: center;
  font-weight: 500;
  padding: 14px 20px;
}
.calendar .cal_main table td a {
  text-decoration: none;
  color: #98a0a6;
}
.calendar .cal_main table td a div {
  padding: 14px 20px;
}
.calendar .cal_main table td a div .day_num {
  text-align: right;
}
.calendar .cal_main table td a .todo_day {
  background-color: rgba(185, 73, 39, 0.12);
}
.calendar .cal_main table td a:hover {
  background-color: red;
}
