
// scss-all
html{
  font-size:62.5%;
}
$base :rgba(166, 168, 179, 0.12);
$character : #51565e;
//---all---
html{
  // background:$base;
  font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  body{
    background-color: $base;
  }
}
// scss-calendar
.calendar{
  width:100%;
  // calendar_top
  .cal_btn{
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid $base;
    padding: 20px 0;
    margin-top: 20px;

    display:flex;
    justify-content: center;
    div{
      margin:0 10px;
    }

    .last_month_btn,
    .next_month_btn{
      width:40px;
      margin-top:10px;
      background-color: $character;
      display: flex;
      align-items: center;
      border-radius: 10px;
      a{
        width:100%;
        text-decoration:none;
        font-size: 1.3rem;
        color: #fff;
        p{
          margin:0;
          padding: 2px;
        }
      }
    }
    .this_month{
      p{
        color: $character;
        font-size: 2.4rem;
        margin:0;
      }
    }
  }

  // calendar_body
  .cal_main{
    table{
      table-layout: fixed;
      width:100%;
      background-color: #fff;

      th,td{
        border-bottom: 1px solid $base;
        border-right: 1px solid $base;
        letter-spacing: 1px;
        font-size: 1.2rem;
      }
      th{
        color: #99a1a7;
        text-align: center;
        font-weight: 500;
        padding: 14px 20px;
      }
      td{
        a{
          text-decoration:none;
          color: #98a0a6;
          div{
            padding: 14px 20px;
            .day_num{
              text-align: right;
            }
          }
          .not_day{
            // 
          }
          .todo_day{
            background-color: rgba(185, 73, 39, 0.12);
          }
          &:hover{
            background-color: red;
          }
        }
      }

    }

  }
}
